.slideRight-enter
  transform translateX(100%)
  position absolute
.slideRight-leave-to
  transform translateX(-100%)
  position absolute
.slideLeft-enter
  transform translateX(-100%)
  position absolute
.slideLeft-leave-to
  transform translateX(100%)
  position absolute
.slideRight-enter-active,
.slideRight-leave-active,
.slideLeft-enter-active,
.slideLeft-leave-active
  transition: transform .5s