* {
    margin: 0;
    padding: 0;
}
html {
    background-color: rgb(103, 103, 161);
    width: 100%;
    height: 100%;
    font-size: 10px;
}
body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    text-align: center;
}
.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid #fff;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}
.hand {
    width: 50%;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;/*定位基点*/
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bazier(0.1,2.7,0.58,1);
}