$hdbg_color = #e54847
$font_color_block = #ffffff
$bd_color=#e5e5e5
html,body
    width 100%
.flex
    display flex
.flex1
    flex 1
.section-title
    font-size 17px
    color #000
    font-weight 700
.action-list.section-title
    padding-left .4rem
.nav
    height 1.067rem
    font-size 18px
    text-align center
    background-color $hdbg_color
    padding 6px
    box-sizing border-box
    .arrow-left
        float left
        height 100%
        position relative
        &:after
            content ''
            width 12px
            height 12px
            position absolute
            top 50%
            left 16px
            border 2px solid #ffffff
            border-width 0 0 2px 2px
            transform rotate(45deg) translateY(-50%)
    span
        color $font_color_block
        display inline-block
.page
    background #f4f4f4
    position relative
    z-index 1
    margin 0
    color #555
    min-width 3.1rem
    -webkit-tap-highlight-color rgba(255, 255, 255, 0)
    font 14px/1.5 Arial,Helvetica,sans-serif
    section
        background #fff
        border-bottom 1px solid #e5e5e5
    .movie-header
        padding 0
        background #f8f8f8
        border-bottom none
        .movie
            color #ffffff
            padding 0.4rem
            line-height 1
            position relative
            box-sizing border-box
            filter blur(0)
            &-background,
            &-filter
                position absolute
                top 0
                right 0
                left 0
                bottom 0
            &-background
                z-index 0
                filter blur(0.6rem)
                -webkit-filter blur(0.6rem)
                background-image url(./images/header-bg.jpg)
                background-size cover
                background-repeat no-repeat
                background-position-y 40%
            &-filter
                background-color #40454d
                opacity 0.5
            &-container
                z-index 1
                position relative
                overflow hidden
                .movie-cover
                    float left
                    width 2.854rem
                    height 4rem
                    border 1px solid #f0f2f3
                    position relative
                    .img
                        width 100%
                    &:after
                        content ''
                        display block
                        width 1.6rem
                        height 1.6rem
                        background-image url(./images/bofang.png)
                        background-size 100% auto
                        position absolute
                        left 50%
                        top 50%
                        transform translate(-50%, -50%)
                        opacity 0.7
                .movie-content
                    overflow hidden
                    padding-left 0.4rem
                    .movie-name
                        font-size 17px
                        margin 0.08rem 0
                    .movie-ename
                        font-size 12px
                        margin-bottom 0.3rem
                    .movie-score
                        font-size 12px
                        margin-bottom 0.3rem
                        .rating
                            .img
                                width 0.48rem
                                height 0.48rem
                                margin-right 2px
                            .rating-score
                                font-size .48rem
                                color #ffc600
                    .movie-detail
                        font-size 12px
                        margin-bottom 0.16rem
                        opacity 0.7
                        div,p
                            margin-bottom 0.14rem
            .operating
                margin-top 0.5rem
                div
                    border 1px solid rgba(255,255,255,0.4)
                    background-color rgba(255,255,255,0.4)
                    font-size 14px
                    color #ffffff
                    position relative
                    z-index 2
                    text-align center
                    padding 0.25rem 0
                    border-radius 4px
                    img 
                        vertical-align middle
                    span
                        vertical-align middle
                .movie-watch
                    margin-right 0.3rem
                    img
                        width 14px
                .movie-mark
                    img
                        width 18px
    .section-seperate
        padding 0.4rem
        margin-bottom 0.3rem
        border-top 1px solid $bd_color
    .section-expander
        padding-left .4rem
        padding-right .4rem
        .text-expander
            &__content.close
                min-height 65px
                display -webkit-box
                overflow hidden
                text-overflow ellipsis
                word-break break-all
                -webkit-box-orient vertical
                -webkit-line-clamp 3
            &_button
                height 0.7rem
                text-align center
                .icon-chevron__down
                    width 10px
                    height 10px
                    border 1px solid #aaaaaa
                    display inline-block
                    border-width 0 1px 1px 0
                    transform rotateZ(45deg)
                    box-sizing border-box
                    transition transform .5s
                .icon-chevron__down.up
                    transform rotateZ(-135deg)
    .section-seperate
        .movie-celebrities
            width 100%
            padding 0.3rem 0.3rem 0.1rem 0.3rem
            overflow-x scroll  //剪裁左右超出div的部分，并添加滚动滑条
            white-space nowrap  //不换行
            box-sizing border-box
            li
                text-align center
                display inline-block
                padding 0.04rem
                .link 
                    color #000
                    .movie-celebrities__pic
                        width 1.7334rem
                        height 2.4rem
                        margin 0.05rem
                        img
                            width 100%
                    span
                        display block
                        font-size 0.2rem
                        text-overflow ellipsis
                        white-space nowrap
                        overflow hidden
                    .movie-celebrities-roles
                        color #999
    .movie-booking
        padding-bottom .2rem
        .weui-flex
            text-align center
            .placeholder
                span
                    font-size 24px
                    color #d96a3d
                p
                    color #bababa
                    margin-top 0.1rem
                    // white-space nowrap
.movie-photo
    .movie-photo__lists
        width 100%
        box-sizing border-box
        padding .3rem .3rem .2rem .3rem
        white-space nowrap
        overflow-x scroll
        .stage-img-container
            margin-right 0.13333rem
            display inline-block
            width 2.4rem
            height 1.867rem
            .movie-celebrities__pic
                width 100%
                height 100%
                img 
                    width 100%
                    height 100%
            &:first-child
                width 3.3334rem
                height 1.867rem
            &:last-child
                margin-right 0
.section-seperate
    padding 0.4rem
    margin-bottom 0.3rem
    border-top 1px solid $bd_color
    .pos_r
        position relative
    .join-comment
        // box-sizing border-box
        position absolute
        right 0
        font-size 14px
        background-color #e54847
        color #fff
        top 50%
        transform translateY(-50%)
        padding .1rem .3rem  
        border-radius 20px
    .movie-comment
        padding 0.2rem 0 .4rem 0
        overflow hidden
        .comment-item
            float left
            padding .1rem 0.25rem
            border 1px solid #aaa
            border-radius 20px
            margin-top 0.2rem
            margin-right 0.3rem
.tourist-pic
    width 38px
    height 38px
    margin 18px 0 0 0
    // background-image url('http://img3.duitang.com/uploads/item/201511/14/20151114125146_LXHzE.jpeg')
    //background-size contain//让背景图片大小最大至适应容器大小
    img 
        display inline-block
        border-radius 50%
        width 100%
        height 100%
.section-por
    position relative
    .tourist-wrap
        position absolute
        top 64px
        left 70px
        border-bottom 1px solid #bababa
        margin-bottom 50px
        .tourist
            .tourist-message
                position relative
                .tourist-name
                    float left
                img
                    display inline-block
                    height 22px
                .tourist-score
                    position absolute
                    top 20px
                    color rgba(135,135,135,.7)
.comment-bottom
    width 307px
    height 40px
    position relative
.comment-time
    color rgba(135,135,135,.7)
    position absolute
    left 0
    top 50%
    transform translate(-40%, -40%)
.rimg
    // float right
    display inline-block
    width 18px
    position absolute
    top 0
    right 0
.comment-content
    margin 25px 37px 15px 0 
.dz-pl
    float right
    .dz  
        display inline-block
        border-radius 20px
        border 1px solid #aaa
        padding: 0.1rem 0.25rem;
        margin-top: 0.2rem;
        margin-right: 0.3rem;
    .pl  
        border-radius 20px
        display inline-block
        border 1px solid #aaa
        padding: 0.1rem 0.25rem;
        margin-top: 0.2rem;
        margin-right: 0.3rem;
.section-button 
    position fixed
    bottom 0px

    width 100%
    height 50px
    .section-bg
        width 100%
        height 50px
        border-radius 2px
        background #f54343
        color #fff
        font-size 22px
        position relative
        span 
            display block
            width 88px
            height 33px
            position absolute
            top 50%
            left 50%
            transform translate(-50%,-50%)

#toast
    display none
.active
    display block !important







            



                
                





