html,
body {
  width: 100%;
}
.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.section-title {
  font-size: 17px;
  color: #000;
  font-weight: 700;
}
.action-list.section-title {
  padding-left: 0.4rem;
}
.nav {
  height: 1.067rem;
  font-size: 18px;
  text-align: center;
  background-color: #e54847;
  padding: 6px;
  box-sizing: border-box;
}
.nav .arrow-left {
  float: left;
  height: 100%;
  position: relative;
}
.nav .arrow-left:after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 16px;
  border: 2px solid #fff;
  border-width: 0 0 2px 2px;
  transform: rotate(45deg) translateY(-50%);
}
.nav span {
  color: #fff;
  display: inline-block;
}
.page {
  background: #f4f4f4;
  position: relative;
  z-index: 1;
  margin: 0;
  color: #555;
  min-width: 3.1rem;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  font: 14px/1.5 Arial, Helvetica, sans-serif;
}
.page section {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.page .movie-header {
  padding: 0;
  background: #f8f8f8;
  border-bottom: none;
}
.page .movie-header .movie {
  color: #fff;
  padding: 0.4rem;
  line-height: 1;
  position: relative;
  box-sizing: border-box;
  filter: blur(0);
}
.page .movie-header .movie-background,
.page .movie-header .movie-filter {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.page .movie-header .movie-background {
  z-index: 0;
  filter: blur(0.6rem);
  -webkit-filter: blur(0.6rem);
  background-image: url("./images/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 40%;
}
.page .movie-header .movie-filter {
  background-color: #40454d;
  opacity: 0.5;
}
.page .movie-header .movie-container {
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.page .movie-header .movie-container .movie-cover {
  float: left;
  width: 2.854rem;
  height: 4rem;
  border: 1px solid #f0f2f3;
  position: relative;
}
.page .movie-header .movie-container .movie-cover .img {
  width: 100%;
}
.page .movie-header .movie-container .movie-cover:after {
  content: '';
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url("./images/bofang.png");
  background-size: 100% auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}
.page .movie-header .movie-container .movie-content {
  overflow: hidden;
  padding-left: 0.4rem;
}
.page .movie-header .movie-container .movie-content .movie-name {
  font-size: 17px;
  margin: 0.08rem 0;
}
.page .movie-header .movie-container .movie-content .movie-ename {
  font-size: 12px;
  margin-bottom: 0.3rem;
}
.page .movie-header .movie-container .movie-content .movie-score {
  font-size: 12px;
  margin-bottom: 0.3rem;
}
.page .movie-header .movie-container .movie-content .movie-score .rating .img {
  width: 0.48rem;
  height: 0.48rem;
  margin-right: 2px;
}
.page .movie-header .movie-container .movie-content .movie-score .rating .rating-score {
  font-size: 0.48rem;
  color: #ffc600;
}
.page .movie-header .movie-container .movie-content .movie-detail {
  font-size: 12px;
  margin-bottom: 0.16rem;
  opacity: 0.7;
}
.page .movie-header .movie-container .movie-content .movie-detail div,
.page .movie-header .movie-container .movie-content .movie-detail p {
  margin-bottom: 0.14rem;
}
.page .movie-header .movie .operating {
  margin-top: 0.5rem;
}
.page .movie-header .movie .operating div {
  border: 1px solid rgba(255,255,255,0.4);
  background-color: rgba(255,255,255,0.4);
  font-size: 14px;
  color: #fff;
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 0.25rem 0;
  border-radius: 4px;
}
.page .movie-header .movie .operating div img {
  vertical-align: middle;
}
.page .movie-header .movie .operating div span {
  vertical-align: middle;
}
.page .movie-header .movie .operating .movie-watch {
  margin-right: 0.3rem;
}
.page .movie-header .movie .operating .movie-watch img {
  width: 14px;
}
.page .movie-header .movie .operating .movie-mark img {
  width: 18px;
}
.page .section-seperate {
  padding: 0.4rem;
  margin-bottom: 0.3rem;
  border-top: 1px solid #e5e5e5;
}
.page .section-expander {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.page .section-expander .text-expander__content.close {
  min-height: 65px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.page .section-expander .text-expander_button {
  height: 0.7rem;
  text-align: center;
}
.page .section-expander .text-expander_button .icon-chevron__down {
  width: 10px;
  height: 10px;
  border: 1px solid #aaa;
  display: inline-block;
  border-width: 0 1px 1px 0;
  transform: rotateZ(45deg);
  box-sizing: border-box;
  transition: transform 0.5s;
}
.page .section-expander .text-expander_button .icon-chevron__down.up {
  transform: rotateZ(-135deg);
}
.page .section-seperate .movie-celebrities {
  width: 100%;
  padding: 0.3rem 0.3rem 0.1rem 0.3rem;
  overflow-x: scroll;
  white-space: nowrap;
  box-sizing: border-box;
}
.page .section-seperate .movie-celebrities li {
  text-align: center;
  display: inline-block;
  padding: 0.04rem;
}
.page .section-seperate .movie-celebrities li .link {
  color: #000;
}
.page .section-seperate .movie-celebrities li .link .movie-celebrities__pic {
  width: 1.7334rem;
  height: 2.4rem;
  margin: 0.05rem;
}
.page .section-seperate .movie-celebrities li .link .movie-celebrities__pic img {
  width: 100%;
}
.page .section-seperate .movie-celebrities li .link span {
  display: block;
  font-size: 0.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.page .section-seperate .movie-celebrities li .link .movie-celebrities-roles {
  color: #999;
}
.page .movie-booking {
  padding-bottom: 0.2rem;
}
.page .movie-booking .weui-flex {
  text-align: center;
}
.page .movie-booking .weui-flex .placeholder span {
  font-size: 24px;
  color: #d96a3d;
}
.page .movie-booking .weui-flex .placeholder p {
  color: #bababa;
  margin-top: 0.1rem;
}
.movie-photo .movie-photo__lists {
  width: 100%;
  box-sizing: border-box;
  padding: 0.3rem 0.3rem 0.2rem 0.3rem;
  white-space: nowrap;
  overflow-x: scroll;
}
.movie-photo .movie-photo__lists .stage-img-container {
  margin-right: 0.13333rem;
  display: inline-block;
  width: 2.4rem;
  height: 1.867rem;
}
.movie-photo .movie-photo__lists .stage-img-container .movie-celebrities__pic {
  width: 100%;
  height: 100%;
}
.movie-photo .movie-photo__lists .stage-img-container .movie-celebrities__pic img {
  width: 100%;
  height: 100%;
}
.movie-photo .movie-photo__lists .stage-img-container:first-child {
  width: 3.3334rem;
  height: 1.867rem;
}
.movie-photo .movie-photo__lists .stage-img-container:last-child {
  margin-right: 0;
}
.section-seperate {
  padding: 0.4rem;
  margin-bottom: 0.3rem;
  border-top: 1px solid #e5e5e5;
}
.section-seperate .pos_r {
  position: relative;
}
.section-seperate .join-comment {
  position: absolute;
  right: 0;
  font-size: 14px;
  background-color: #e54847;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.1rem 0.3rem;
  border-radius: 20px;
}
.section-seperate .movie-comment {
  padding: 0.2rem 0 0.4rem 0;
  overflow: hidden;
}
.section-seperate .movie-comment .comment-item {
  float: left;
  padding: 0.1rem 0.25rem;
  border: 1px solid #aaa;
  border-radius: 20px;
  margin-top: 0.2rem;
  margin-right: 0.3rem;
}
.tourist-pic {
  position: absolute;
  left: 0px;
  width: 38px;
  height: 38px;
  margin: 0;
}
.tourist-pic img {
  display: inline-block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.section-por .tourist-wrap {
  border-bottom: 1px solid #bababa;
  margin: 0 0 20px 50px;
}
.section-por .tourist-wrap .tourist {
  height: 50px;
}
.section-por .tourist-wrap .tourist .tourist-message {
  position: relative;
}
.section-por .tourist-wrap .tourist .tourist-message .tourist-name {
  float: left;
}
.section-por .tourist-wrap .tourist .tourist-message img {
  display: inline-block;
  height: 22px;
}
.section-por .tourist-wrap .tourist .tourist-message .tourist-score {
  position: absolute;
  top: 20px;
  color: rgba(135,135,135,0.7);
}
.comment-bottom {
  width: 307px;
  height: 40px;
  position: relative;
  padding-bottom: 17px;
}
.comment-time {
  color: rgba(135,135,135,0.7);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -48%);
}
.rimg {
  display: inline-block;
  width: 18px;
  position: absolute;
  top: 0;
  right: 0;
}
.comment-content {
  margin: 0 37px 15px 0;
  word-break: break-all;
}
.dz-pl {
  float: right;
}
.dz-pl .dz {
  display: inline-block;
  border-radius: 20px;
  border: 1px solid #aaa;
  padding: 0.1rem 0.25rem;
  margin-top: 0.2rem;
  margin-right: 0.3rem;
}
.dz-pl .pl {
  border-radius: 20px;
  display: inline-block;
  border: 1px solid #aaa;
  padding: 0.1rem 0.25rem;
  margin-top: 0.2rem;
  margin-right: 0.3rem;
}
.section-button {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
}
.section-button .section-bg {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  background: #f54343;
  color: #fff;
  font-size: 22px;
  position: relative;
}
.section-button .section-bg span {
  display: block;
  width: 88px;
  height: 33px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ul {
  margin-bottom: 50px;
}
.ul .li {
  position: relative;
}
#toast {
  display: none;
}
.active {
  display: block !important;
}
